<div class="container text-center">
    <br><br>
    <h1>About</h1>
    <p>Travelling is something I enjoy doing very much but, like most people, it's a slow-moving hobby. So I created this blog as a way to "wish list" some travel destinations and when it comes time to actually go there, they'll be nice and categorized so I can hit a few in one trip.</p>
</div>