<header class="intro-header" style="background-image: url('https://images.unsplash.com/photo-1494822493217-c9840aba840c?dpr=1.25&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=&bg=')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>My Travel Wishlist</h1>
                    <hr class="small">
                    <span class="subheading">Kevin Windisch</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
            <% Post.all.each do |post| %>
            <div class="post-preview">
                <%= link_to post do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= ISO3166::Country.find_country_by_alpha2(post.country).name %>
                    </h3>
                <% end %>
                <p class="post-meta">Posted on <%= post.created_at.strftime("%B %d, %Y") %></p>
            </div>
            <hr>
            <% end %>
            
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <hr>

</body>

</html>
