<br><br>
<header class="intro-header" style="background-image: url(<%= @post.image_url %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @post.title %></h1>
                    <hr class="small">
                    <% c = ISO3166::Country.find_country_by_alpha2(@post.country) %>
                    <span class="subheading"><%= c.name %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h4 class="text-center">From Wikipedia:</h4>
    <div id="article"></div>

    <script>
        $.ajax({
            url: "https://en.wikipedia.org/w/api.php",
            data: {
                format: "json",
                action: "parse",
                page: "<%= @post.title %>",
                prop:"text",
                section:0,
            },
        dataType: 'jsonp',
        headers: {
            'Api-User-Agent': 'MyCoolTool/1.1 (http://example.com/MyCoolTool/; MyCoolTool@example.com) BasedOnSuperLib/1.4'
        },
        success: function (data) {
            
            var markup = data.parse.text["*"];
    		var i = $('<div></div>').html(markup);
    		
    		// remove links as they will not work
    		i.find('a').each(function() { $(this).replaceWith($(this).html()); });
    		
    		// remove any references
    		i.find('sup').remove();
    		
    		// remove cite error
    		i.find('.mw-ext-cite-error').remove();
    		
    		$('#article').html($(i).find('p'));
    
    
            }
            });
</script>

</div>
<br><br><br>