<br><br>
<header class="intro-header" style="background-image: url(<%= @post.image_url %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%= @post.title %></h1>
                    <hr class="small">
                    <% c = ISO3166::Country.find_country_by_alpha2(@post.country) %>
                    <span class="subheading"><%= c.name %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <!-- THIS IS WHERE THE WIKIPEDIA RETRIEVED DESCRIPTION WOULD BE -->
</div>
<br><br><br>